<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LeftMenuItems</key>
	<array>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>3000</integer>
			<key>IsResident</key>
			<true/>
			<key>Title</key>
			<string>首页</string>
			<key>KeyName</key>
			<string>home</string>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>ViewName</key>
			<string>HTMainViewController</string>
			<key>IsShowNav</key>
			<true/>
			<key>selTabBarIndex</key>
			<integer>0</integer>
			<key>dspInTabBarIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>3001</integer>
			<key>IsResident</key>
			<true/>
			<key>Title</key>
			<string>行情</string>
			<key>KeyName</key>
			<string>Quote</string>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>ViewName</key>
			<string>HTQuoteViewController</string>
			<key>IsShowNav</key>
			<true/>
			<key>selTabBarIndex</key>
			<integer>1</integer>
			<key>dspInTabBarIndex</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>3002</integer>
			<key>IsResident</key>
			<true/>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>IsShowNav</key>
			<true/>
			<key>ViewName</key>
			<string>HTTradeViewController</string>
			<key>KeyName</key>
			<string>Trade</string>
			<key>Title</key>
			<string>交易</string>
			<key>selTabBarIndex</key>
			<integer>3</integer>
			<key>dspInTabBarIndex</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>3003</integer>
			<key>IsResident</key>
			<true/>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>IsShowNav</key>
			<true/>
			<key>ViewName</key>
			<string>HTInfoViewController</string>
			<key>KeyName</key>
			<string>Info</string>
			<key>Title</key>
			<string>资讯</string>
			<key>selTabBarIndex</key>
			<integer>2</integer>
			<key>dspInTabBarIndex</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>3004</integer>
			<key>IsResident</key>
			<true/>
			<key>Title</key>
			<string>掌厅</string>
			<key>KeyName</key>
			<string>Personal</string>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>ViewName</key>
			<string>HTMineViewController</string>
			<key>IsShowNav</key>
			<true/>
			<key>selTabBarIndex</key>
			<integer>0</integer>
			<key>dspInTabBarIndex</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
